*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

:root{
    --white: #FFFFFF;
    --black: #181A19;
    --gray: #787878;
    --primary: #30C36D;
}